@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body
{
    font-family: 'Open Sans', sans-serif;
}

.home
{
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.home .welcome-message
{
    text-align: center;
    width: 500px;
    font-size: 17px;
}

.home .welcome-message h1
{
    font-size: 45px;
}

.home .welcome-message hr
{
    margin: 0 40px 10px 40px;
}

.home .welcome-message .bio
{
    font-size: 14px;
}

.home .welcome-message .bio p
{
    margin-bottom: 0;
}

.sidebar-column
{
    padding: 0;
    background-color: #212121;
}

.sidebar
{
    height: 100vh;
    display: flex;
    flex-flow: column;
}

.sidebar .anime-search
{
    background: none;
    border: none;
    box-shadow: none;
    margin: 5px 0;
    color: #ffffff;

    flex: 0 1 auto;
}

.sidebar .list-container
{
    overflow-y: auto;
    height: 100%;
    padding-bottom: 5px;

    -ms-overflow-style: none;

    flex: 1 1 auto;
}

.sidebar .list-container::-webkit-scrollbar { width: 0 !important }

.sidebar .anime-item
{
    padding: 5px 10px;
    cursor: pointer;
}

.sidebar .anime-item.selected
{
    background-color: rgba(255, 255, 255, 0.1);
}

.sidebar .anime-item .item-title
{
    margin-bottom: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.sidebar .anime-item .item-members
{
    margin: 0;
    font-size: 10px;
    opacity: 0.5;
}

.sidebar .anime-item:hover
{
    background-color: #2196F3;
}

.sidebar a
{
    color: #F5F5F5;
    text-decoration: none;
}

.anime-view
{
    height: 100vh;
    overflow: hidden;

    text-align: center;
    position: relative;
}

.anime-view .anime-header
{
    padding-top: 50px;
    margin-bottom: 20px;
}

.anime-view h1.anime-title
{
    text-align: center;
    margin-bottom: 5px;
    font-size: 50px;
}

.anime-view .anime-data
{
    margin-bottom: 0;
}

.anime-view .anime-data span
{
    margin: 5px;
}

.anime-view h1.anime-title.long
{
    font-size: 30px;
    margin-top: 40px;
}

.anime-view highchart > div
{
    margin: 0 auto;
}

/* CSS-only spinner element */

.loader-container
{
    z-index: 10000;
    background-color: #ffffff;

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.loader,
.loader:after {
    border-radius: 50%;
    width: 7em;
    height: 7em;
}
.loader {
    margin: 60px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border: 0.5em solid rgba(69, 136, 237, 0.2);
    border-left-color: #4588ed;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}