@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body
{
    font-family: 'Open Sans', sans-serif;
}

.home
{
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.home .welcome-message
{
    text-align: center;
    width: 500px;
    font-size: 17px;
}

.home .welcome-message h1
{
    font-size: 45px;
}

.home .welcome-message hr
{
    margin: 0 40px 10px 40px;
}
.sidebar-column
{
    padding: 0;
    background-color: #212121;
}

.sidebar
{
    height: 100vh;
    display: flex;
    flex-flow: column;
}

.sidebar .anime-search
{
    background: none;
    border: none;
    box-shadow: none;
    margin: 5px 0;
    color: #ffffff;

    flex: 0 1 auto;
}

.sidebar .list-container
{
    overflow-y: auto;
    height: 100%;
    padding-bottom: 5px;

    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;

    flex: 1 1 auto;
}

.sidebar .list-container::-webkit-scrollbar { width: 0 !important }

.sidebar .anime-item
{
    padding: 5px 10px;
    cursor: pointer;
}

.sidebar .anime-item.selected
{
    background-color: rgba(255, 255, 255, 0.1);
}

.sidebar .anime-item .item-title
{
    margin-bottom: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.sidebar .anime-item .item-members
{
    margin: 0;
    font-size: 10px;
    opacity: 0.5;
}

.sidebar .anime-item:hover
{
    background-color: #2196F3;
}

.sidebar a
{
    color: #F5F5F5;
    text-decoration: none;
}

.anime-view
{
    padding-top: 50px;
    height: 100vh;
    overflow: hidden;

    text-align: center;
}

.anime-view h1.anime-title
{
    text-align: center;
    margin-bottom: 5px;
    font-size: 50px;
}

.anime-view .anime-data
{
    margin-bottom: 20px;
}

.anime-view .anime-data span
{
    margin: 5px;
}

.anime-view h1.anime-title.long
{
    font-size: 30px;
    margin-top: 40px;
}

.anime-view highchart > div
{
    margin: 0 auto;
}