<div class="anime-view" ng-cloak>
    <div class="anime-header">
        <h1 class="anime-title" ng-class="{'long': (selectedAnime.title.length > 40)}">{{selectedAnime.title}}</h1>
        <p class="anime-data"><span class="anime-members">Members: <b>{{selectedAnime.members | number}}</b></span><span class="anime-rating">Current rating: <b>{{selectedAnime.rating}}</b></span></p>
        <a href="http://myanimelist.net/anime/{{selectedAnime.id}}/">View on MAL</a>
    </div>
    <highchart id="chart1" config="chartConfig"></highchart>

    <div class="loader-container" ng-if="loading">
        <div class="loader">Loading...</div>
    </div>

    <a href="/" class="btn btn-default home-button" ng-click="deselectAnime()">Home / About</a>
</div>